
html {;
    font-size: 1em;
    line-height: 1.4;;
    color: #367;;
    margin: 0 auto; 
    height: 100%;
    max-width: 2000px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



body {
  background-image: url(../img/pexels-photo-313543.jpeg);
}

.container {
    max-width: 1200px;
    margin: 100px auto;
    border: 5px solid white;
    height: 2500px;
    
}
.border {
    border: 5px solid white;
 
}
/*.navigation {*/
/*    height: 166px;*/
/*    float:none;*/
/*}*/
.navigation__nav {
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    display: table-row;
    margin-left: -15px;
}

.navigation__nav > li {
    /*display: inline-block;*/
    /*display: table-cell;*/
    /*display: inline-block;*/
    display: table-cell;
    color: black;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    width: 180px;
    height: 180px;
    /*float: left;*/
    text-align: center;
    vertical-align: middle;
    /*margin-left: -15px;*/
    /*border:1px solid black;*/
}
.navigation__nav > li:nth-child(odd) {
    background-color: gray;
}
.active {
    background-color: #f4e842 !important;
}
.logo {
    height: 180px;
    background-color: black;
    color: white;
    font-size: 50px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.img-3 {
    width: 287px;
    height: 287px;
}
.second-container__autoservice {
    background-color: yellow;
    color: black;
    height: 287px;
    
}
.second-container__best {
    background-color: black;
    color: yellow;
    height: 287px;
}
.third-container__quality {
    background-color: white;
    height: 618px;
    color: black;
}
.prices {
    color:black;
    background-color: yellow;
    height: 287px;
    border: 0.5px solid gray;
}
.button {
      background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer-firstcontainer__testimonials {
    height: 450px;
    background-color: yellow;
    color: black;
}
.footer > li{
    list-style: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #1A1A1A;
    border: 1px solid gray;
    width: 300px;
    height: 50px;
    /*float: left;*/
    text-align: center;
    /*vertical-align: middle;*/
}