
html {;
    font-size: 1em;
    line-height: 1.4;;
    color: #367;;
    margin: 0 auto; 
    height: 100%;
    max-width: 2000px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



body {
 background-color: #8e8e8e;
}
#background-img {
     background-image: url(../img/pexels-photo-313543.jpeg) !important;
     background-repeat: no-repeat !important;
}
.container {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    /*border: 5px solid white;*/
    height: 2460px;
    
}
.border {
    border: 5px solid white;
}
/*.navigation {*/
/*    height: 166px;*/
/*    float:none;*/
/*}*/
.navigation__nav {
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    display: table-row;
    margin-left: -15px;
}

.navigation__nav > li {
    /*display: inline-block;*/
    /*display: table-cell;*/
    /*display: inline-block;*/
    display: table-cell;
    color: black;
    font-size: 18px;
    background-color: white;
    width: 180px;
    height: 180px;
    /*float: left;*/
    text-align: center;
    vertical-align: middle;
    /*margin-left: -15px;*/
    /*border:1px solid black;*/
    font-family: 'Roboto';
    font-weight: 700;
}
.navigation__nav > li:nth-child(odd) {
    background-color: #ECECEC;
}
.active {
    background-color: #FEDE00 !important;
}
.logo {
    height: 180px;
    background-color: #191819;
    color: white;
    font-size: 50px;
}
.span-text:first-child {
    color: #FEDE00;
   
    
}
.span-text {
    display:block;
    width:100px;
    /*height: 100%;*/
    margin: 20px auto 0 auto;
    height: 60px;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Roboto';
}
.span-text-2 {
    display:block;
    width:170px;
    /*height: 100%;*/
    margin: 0 auto;
     font-family: 'Raleway', sans-serif;
     font-size: 58px;
     font-weight: 400 !important;
}



    
    .icon-chevron {
    	position: relative;
  
    }
    .icon-chevron:after {
        content: '';
    	z-index:5;
    	position:absolute;
    	bottom:0;
        right:20px;
    	height: 20px;
    	width: 20px;
    	background-image: url('../icons/left-chevron.svg')
        
    }
    
    .icon-chevron:before {
    	content: '';
    	z-index: 5;
    	position:absolute;
    	bottom:0;
        right:0;
    	height: 20px;
    	width: 20px;
    	background-image: url('../icons/right-chevron.svg');
    }

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.img-3 {
    width: 287px;
    height: 287px;
}
.first-container__solution {
    background-color: #FFFFFF;
    color: #212121;
    height: 297px;
    text-align: center;
    font-size: 1vw;
    font-family: 'Roboto';
}
.first-container__text {
    margin-top: 40px;
    text-align: center;
    
}
.first-container__text > h2 {
    margin-top: 0 !important;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 50px;
}
.second-container__autoservice {
    background-color: #FEDE00;
    color: black;
    height: 297px;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1vw;
    
}
.second-container__autoservice > h2 {
    /*margin-top: 0 !important;*/
    margin-bottom: 0;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
}
.second-container__autoservice > h2:nth-child(2) {
    margin-top: 0 !important;
    font-size: 60px;
    
}
.second-container__best {
    background-color: black;
    color: #FEDE00;
    height: 297px;
    text-align: center;
    font-family: 'Roboto';
}
.third-container__quality {
    background-color: white;
    height: 622px;
    color: black;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto';
}
.prices {
    color:black;
    background-color: #FEDE00;
    height: 296px;
    text-align: center;
    font-family: 'Roboto';
    
}
.button {
      background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.footer {
    margin-top: 0px;
}

.footer-firstcontainer__testimonials {
    height: 468px;
    background-color: #FEDE00;
    color: black;
    font-family: 'Roboto';
}
.footer ul {
    display: table;
}
.footer > li{
    list-style: none;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    background-color: #1A1A1A;
    border: 1px solid gray;
    /*width: 300px;*/
    text-align: center;
    width: 100%;
    height: 63.3px;
    /*float: left;*/
    display: table;
    font-family: 'Roboto';
    text-transform: uppercase;
}
.footer-container {
    background-color: white;
    height: 518px;
    color: black;
    text-align: center;
    font-family: 'Roboto';
}
.footer-second {
    
    height: 240px;
    color: black;
}
.policy {
    background-color: #fff;
    height: 60px;
    margin-top: -18px;
}
.private-policy {
    float: left;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto';
    color: #cecccc;
    font-weight: 400;
}
.footer-icons {
    float: right;
    box-sizing: border-box;
    margin: 0 auto;
}
.footer-icons:nth-child(2) {
    margin-right: -1px;
}
.footer-icon {
    height: 60px;
    
}
.icon-1 {
    margin-right: -5px;
}
.footer a {
    text-decoration: none;
    color: #dddd4f;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


@media screen and (max-width: 480px) {
   .navigation__nav > li {
   /*display: inline-block;*/
    /*display: inline-block;*/
    /*display: table-cell;*/
    height: 70px;
    color: black;
    font-weight: bold;
    background-color: white;
    /*float: left;*/
    text-align: center;
    vertical-align: middle;
    /*margin-left: -15px;*/
    /*border:1px solid black;*/
    font-size: 12px;
}
.navigation__nav  ul {
    width: 100%;
}
.first-container__solution {
    background-color: #FFFFFF;
    color: #212121;
    height: 100%;
    font-size: 3.1vw;
    text-align: center;
    font-family: 'Roboto';
}
.first-container__text {
    /*margin-top: 5vw;*/
    text-align: center;
    
}
.first-container__text > h2 {
    margin-top: 0 !important;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 6.65vw;
}
.second-container__autoservice {
    background-color: #FEDE00;
    color: black;
    height: 297px;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1vw;
    
}
.second-container__autoservice > h2 {
    /*margin-top: 0 !important;*/
    margin-bottom: 0;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}
.second-container__autoservice > h2:nth-child(2) {
    margin-top: 0 !important;
    font-size: 30px;
    
}
.second-container__autoservice > h2 {
    margin-top: 0;
}
.second-container__best {
    height: auto;
}
.second-container__best  p {
    font-size: 3.8vw;
}
.second-container__best  h2 {
    font-size: 4.9vw;
}
.third-container__quality > h2 {
    margin-top: 0;
}
.third-container__quality > p {
    font-size: 3.5vw;
}
.prices > h2 {
    margin-top: 0;
}
.footer-container > h2 {
    margin-top: 0;
}

.private-policy {
    font-size: 10px;
}

.footer-container p {
    font-size: 13px;
}
}














.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #212E3D !important;
  color: white;
}


/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dbf6ff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: black !important;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}